.container {
  width: 100%;
  max-width: 100%;
}

.wrapper {
  border-radius: 24px;
  overflow: hidden;
  width: 100%;

  transition: 0.2s ease;
  background-color: #fff;

  &:hover {
    transform: scale(1.05);
  }

  & .picture {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px 16px;

  & h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 115%;
  }
}
