@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 79, 62%, 67%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
#root {
  height: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.contentHeading {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.editBtnBlock  {
  display: flex;
}

.editBtn {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobileMenu {
  position: fixed;
  z-index: 150;
  top: 0;
  right: -300px;
  transition: all .3s ease-in-out;
  background: #FFF;
  color: #000;
  width: 200px;
}

.mobileMenu.selected {
  right: 0;
}

.mobileMenu ul {
  padding: 20px;
}

@media (min-width: 1200px) {
  .mobileMenu {
    display: none;
  }

  .mb {
    width: 200px;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  .profile-info {
    position: absolute;
    right: 20px;
    width: 254px;
    max-width: unset;
  }

  .profile-edit-button {
    padding: 0.9rem;
  }
}

@media (max-width: 490px) {
  .mobileBlock {
    display: block;
  }
}

